.contactItem {
  border: 1px solid #000;
  padding: 10px;
  width: 220px;
}
.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
  padding-left: 15px;
}
.contactListMsg {
  padding-left: 15px;
}
